

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }



section {
    padding: 80px 0; 
}

.center {
    float: none;
    margin: 0 auto;
    /* margin-right: auto; 
    margin-left: auto; */
}



/* Rubik */
/* font-family: 'Rubik', sans-serif; */


h1, h2, h3, h4, h5, h6, p {
    font-family: 'Rubik', 'Helvetica Neue', Arial, sans-serif; 
}

body, html {
    font-family: 'Rubik', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    /* line-height: 1.6; */
}

/* xs */
@media (max-width: 767px) { 
    body, html { font-size: 15px; }  
}

/* sm 768 up */
@media (min-width: 768px) { 
    body, html { font-size: 16px; } 
    }

/* md 992 up */
@media (min-width: 992px) { 
    body, html { font-size: 16px; } 
    }

/* lg 1200 up */
@media (min-width: 1200px) { 
    body, html { font-size: 18px; }  
}


/* xs */
@media (max-width: 767px) { 
    h1.display { font-size: 2.4rem; }
    h1 { font-size: 3rem;}
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1rem; }
    h6 { font-size: .875rem; }
    p { font-size: 1rem; }
    p.lead { font-size: 1.125rem; }
    p.description { font-size: .875rem; } 
    a.link { font-size: .75rem; }  
}

/* sm 768 up */
/* h1.display { font-size: 3.125rem; }
h1 { font-size: 3rem;}
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }
p { font-size: 1rem; }
p.lead { font-size: 1.125rem; }
p.description { font-size: .875rem; } 
a.link { font-size: .75rem; } */


h1.display { font-size: 2.75rem; }
h1 { font-size: 2.375rem;}
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }
p { font-size: 1rem; }
p.lead { font-size: 1.25rem; }
p.description { font-size: .875rem; } 
a { font-size: .75rem; }

/* line height */
h1, h2, h3 {
    line-height: 1.25; 
}

h4, h5 {
    line-height: 1.6;
}

h6, a.link {
    line-height: 1.2; 
}


/* h1-h6 specs */
h1, h2, h3 {
    font-weight: 400;
}

h1, h1.display {
    letter-spacing: -.04em;
}

h1.display {
    margin-bottom: 16px; 
}

h1 {
    margin-bottom: 24px; 
    margin-left: -.25rem; /* ~ -4px */
}

h2 { 
    letter-spacing: -.02em;
    margin-bottom: 24px;
}

h4, h5 {
    font-weight: 500; 
    line-height: 1.25;
}

h6 {
    font-weight: 300;
    letter-spacing: 0.24em;
    text-transform: uppercase;
}

/* p specs */
p, 
p.lead, 
p.description {
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* p.lead {
    line-height: 1.7; 
} */

a.link {
    font-weight: 500; 
    letter-spacing: .24em; 
    text-transform: uppercase;
    margin: 16px 0 24px 0;
}


.mb-5 {
   margin-bottom: 32px; 
}